<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
   
    <add key="DB2ConnectionString" value="DataSource=ISERIES.SCOTT.LOCAL;UserID=KARDEX;Password=P0wer@1"/>
    <add key="TimerInterval" value="10000"/>
    <add key="PMTimerInterval" value="10000"/>
    <add key="transfertablesDSN" value="server=DESKTOP-JWADE;database=TransferTables;user id=sqldev;password='P@ssw0rd!$'" />
    <add key="Warehouse" value="AK1"/>
    <add key="dbname" value="ALTLIB"/>
    
   
  </appSettings>
</configuration>